<!doctype html>
<html lang="ru" class="h-100">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">
    <title>
    </title>
</head>

<body class="h-100">

    <div class="h-100 d-flex flex-column container-fluid">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="">Программирование криптографических алгоритмов,</a>
                <a class="navbar-brand" href="">Гладышев Федор 191-351</a>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Задания
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{{url_for('index')}}" id="lab1">Лабораторная работа №1</a>
                                    <a class="dropdown-item" href="{{url_for('lab2')}}" id="lab2">Лабораторная работа №2</a>
                                    <a class="dropdown-item" href="{{url_for('lab3')}}" id="lab3">Лабораторная работа №3</a>
                                    <a class="dropdown-item" href="{{url_for('lab4')}}" id="lab4">Лабораторная работа №4</a>
                                    <a class="dropdown-item" href="{{url_for('lab5')}}" id="lab5">Лабораторная работа №5</a>
                                    <a class="dropdown-item" href="{{url_for('lab6')}}" id="lab6">Лабораторная работа №6</a>
                                    <a class="dropdown-item" href="{{url_for('lab7')}}" id="lab7">Лабораторная работа №7</a>
                                    <a class="dropdown-item" href="{{url_for('lab8')}}" id="lab8">Лабораторная работа №8</a>
                                    <a class="dropdown-item" href="{{url_for('lab9')}}" id="lab9">Лабораторная работа №9</a>
                                    <a class="dropdown-item" href="{{url_for('lab10')}}" id="lab10">Лабораторная работа №10</a>
                                    <a class="dropdown-item" href="{{url_for('lab11')}}" id="lab11">Лабораторная работа №11</a>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <h3 align = "center" class="mt-5 mb-5" id="labnumber" >Лабораторная работа №4</h3>


        <div class="row mb-4" id="1stLabPanel">
            <div class="col-lg-6">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary active">
                      <input type="radio" name="options" id="vertic"> Вертикальная перестановка
                    </label>
                    <label class="btn btn-primary">
                      <input type="radio" name="options" id="kardano"> Решетка Кардано
                    </label>
                </div>
            </div>
        </div>



        <div class="row" id='description1'>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="key">Введите слово-ключ:</label>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="input-group flex-nowrap">
                        <input type="text" class="form-control mb-4" placeholder="Ключ" aria-label="Username" aria-describedby="addon-wrapping" id="key">
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="originalText mt-4">Исходный текст:</label>
                        <textarea class="form-control original" id="originalText" rows="3"></textarea>
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="encrypted">Зашифрованный текст:</label>
                        <textarea readonly class="form-control original" id="encrypted" rows="3" ></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <button class="btn btn-primary encrypt ml-3 mr-2" id="encrypt">Зашифровать</button>
                    <button class="btn btn-primary decrypt" id="decrypt">Расшифровать</button>
                </div>
                    
                    <div class="col-lg-6">  
                        <div class="form-group">
                            <label for="decrypted">Расшифрованный текст:</label>
                            <textarea readonly class="form-control original" id="decrypted" rows="3"></textarea>
                        </div>
                    </div>
            </div>
    
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="static/lab4.js"></script>
</body>

</html>